<!-----
{############################################################
#  CressInt Arabidopsis thaliana Intersector 
#  fastaform.html.twig   FASTA conversion form
#
#    Author:  Frances Soman 
###############################################################
#
#	Remove comment markers from lines 1,20,23,30,191,195
#
#
#}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}
{% import 'assets.twig' as assets %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
{{ assets.inputform_assets() }}--->
  <link rel="stylesheet" type="text/css" href="css/cressint.css">    
  <link rel="stylesheet" type="text/css" href="css/facressint.css">  
<!----
  {% endblock %}

{% block nav %}
{% include 'sidebar.html.twig' %}
{% endblock %}

{% block main %}--->
<html>

<head>
<div>
.
</div>
<script>
$(document).ready(function() {
   $('[name="sinfo"]').click(more_info);
   $('[name="sihide"]').click(less_info);    
});
function validateForm() {
	var dot = "\.";
	var vext = ".fa";
	var ans = true;
    var x = document.forms["fastaform"]["tfastafile"].value;
	var y = document.forms['fastaform'].elements['fasta'].value;
	var ml = document.getElementById('fastaseq').maxlength;
	var m = y.length;
	var t = document.getElementById('ftype').value;
	var pml = 10000;
	var f = x.indexOf(dot);
	var l = x.lastIndexOf(dot);
	var e = x.substr(x.lastIndexOf(dot));
	
	if (x == null || x == "") {		
		if (y == null || y == "") {			
			alert("Please choose a FASTA file or paste in a FASTA sequence.");
			return false;
		}		
		if (y !== null || y !== ""){
			if ( t !== "Protein" ) {
				if (m > ml) {
					alert("Maximum DNA/RNA sequence input length exceeded. Please check your pasted FASTA sequence submission.");	
					return false;	
					}
			}
			if ( t == "Protein") {
				if (m > pml) {
					alert("Maximum Protein sequence input length exceeded. Please check your pasted FASTA sequence submission.");	
					return false;	
				}
			}
		}
	}
	else	{
		if ( l !== f)	{
			alert("FASTA file name can have a . only in the extension. Example: FASTAfile.fa Please check file name.");
			return false;
		}
		if ( e == vext )	{
			if ((y !== null) && (y !== ""))	 {
				if (confirm("Please submit FASTA sequences separately. Only the FASTA file will be processed now. Do you wish to continue?") == false) {
					return false;	
				}
				else	{
					document.forms['fastaform'].elements['fasta'].value = "";
					return true;	
				}
			}
		}
		else	{
			alert("FASTA extension should be .fa. Example: FASTAfile.fa Please check the file extension.");
			return false;
		}
	}	
}
function check_fs()	{
	var mfl = 52000;
	var fs = document.getElementById("tfastafile");
	
		if ( fs.files[0].size > mfl )	{
			alert("Maximum file size exceeded. Files must be less than 52MB.");
			return false;
		}
}		
function more_info() {
	document.getElementById('info').style.display = 'block';
	document.getElementById('hideinfo').style.display = 'inline';
	document.getElementById('noinfo').style.display='none';
	return false;
}
function less_info()	{
	document.getElementById('info').style.display = 'none';
	document.getElementById('hideinfo').style.display = 'none';
	document.getElementById('noinfo').style.display = 'inline';
	return false;
}
function c_more_info() {
	document.getElementById('c_info').style.display = 'block';
	document.getElementById('c_hideinfo').style.display = 'inline';
	document.getElementById('c_noinfo').style.display='none';
	return false;
}
function c_less_info()	{
	document.getElementById('c_info').style.display = 'none';
	document.getElementById('c_hideinfo').style.display = 'none';
	document.getElementById('c_noinfo').style.display = 'inline';
	return false;
}

</script>

</head>
<body>

<div class="f">
  <h1>FASTA Conversion Tool</h1>
	<h2>Arabidopsis Thaliana FASTA to BED Conversion</h2>
	  <p>For converting FASTA sequences into BED6 format</p>
	  <div class="cr_format">
	    <div class="box">
        <form name="fastaform" id="fastaform" method="post" enctype="multipart/form-data" 
		accept-charset="UTF-8" onsubmit="return validateForm()" action="fasta2bed.php">
			<input type="hidden" name="MAX_FILE_SIZE" value="2000000">
			<label>FASTA file to convert</label>
               <input class="q" type="file" id="tfastafile" name="tfastafile" onchange="return check_fs()" cols="30"
                title="Enter the name of the FASTA file to convert" >
			    <button type="button" class='q q1' id='noinfo' name="sinfo" style="display: inline;" title="DNA and RNA sequences should be&#013;&#010;less than 25,000 nucleotide bases&#013;&#010;per individual sequence, with a &#013;&#010;submission maximum of 50,000 bases.&#013;&#010;&#013;&#010;Protein sequences should be&#013;&#010;less than 5,000 amino acid letters&#013;&#010;per individual sequence, with&#013;&#010;a submission maximum of 10,000 letters."
onclick="javascript:more_info()" title="Click for more information" value="Sequence">Sequence ?</button>
				<button type="button" class='q q1' id='hideinfo' name="sihide" style="display: none;" onclick="javascript:less_info()" value="Sequence">Hide^</button>	
				<span style="float: right">|</span>
				<button class='q q1' onclick="disabled" disabled="disabled" title="FASTA Conversion Tool converts fasta sequences&#013;&#010;such as for genes in the Arabidopsis Thaliana genome&#013;&#010;and converts them to BED files, using&#013;&#010;Arabidopsis Thaliana genome version, Tair 10. &#013;&#010;&#013;&#010;FASTA sequences can be dna, rna, or protein.&#013;&#010;The sequence header should be a single-line description&#013;&#010;beginning with the greater-than symbol (>)&#013;&#010;and ending with an end of line character such as \n." >
			   ?</button>
				<div id="info" class="info_box ifb fastasq" style="display: none;"> 
					DNA and RNA sequences should be less than 25,000 nucleotide bases&#013;&#010;per individual sequence, with a&#013;&#010;submission maximum of 50,000 bases.<br/>
					<br/>Protein sequences should be&#013;&#010;less than 5,000 amino acid letters&#013;&#010;per individual sequence, with a submission maximum &#013;&#010;of 10,000 letters.  
				</div>
	    <div>	
			<p><label for="fasta" title="Paste your FASTA sequence here">  
                    Or paste your FASTA Sequence(s) to submit
			   </label>
			   	<select id="ftype" name="ftype" style="float: right">
					<option value="Unknown">FASTA Type?</option>
					<option value="Unknown">Unknown</option>
					<option value="DNA">DNA</option>
					<option value="RNA">RNA</option>
					<option value="Protein">Protein</option>
				</select>
			   </p> 			   
            <p><textarea class="fastasq" name="fasta" id="fastaseq" onsubmit="return validateForm()" maxlength="52000" cols="85" rows="20" title="Please paste your FASTA sequence(s)"></textarea></p>			
		  </div>		  
		  <input class='q' type="reset" value="Reset">
		  <input class='q' type="submit" value="Submit">
		</div>
		<div class="ft box" style="border: none">
			<p>Arabidopsis thaliana resources can be found at <br/>
			<a href="http://plants.ensembl.org/Arabidopsis_thaliana" target="_blank" >Arabidopsis thaliana TAIR10 EnsemblPlants</a>
			, data source <a href="https://www.arabidopsis.org" target="_blank" >TAIR</a><br/>
			</p>
			<p>Please include this <a href="#c_info" class='q2' id='c_noinfo' name="cinfo" style="display: inline;" onclick="javascript:c_more_info()">citation</a>when you cite us.
			</p>	
			<div id="c_info" style="display: none;">
			<a href="#" class='q2' id='c_hideinfo' name="chide" style="display: none;"onclick="javascript:c_less_info()" >Done</a>
			<p>This tool uses UCSC BLAT Tools. Please include the following when  you cite us:	
			<br/>BLAT: Kent WJ. BLAT - the BLAST-like alignment tool. Genome Res. 2002 Apr;12(4):656-64
			</p>
		</div>
		</div>	  
	</div> <!--cr_format-->
</div> <!-- class f
{% endblock %}
 
{% block footer %}
{% endblock %}  --->              
</body>
</html>


