{#################################################
 #
 #    Twig template for SNPsea's "about" page
 #
 #    Author:  ern6xv (Kevin.Ernst@cchmc.org)
 #
 #################################################}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
  <link href="/cressint/css/cressint.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}

{% block main %}
    <h1 id="help">Help</h1>
    <p>Help text</p>

    <h1 id="datasets">Available Datasets</h1>
    <p>Descriptions of available data sets</p>
    <ul>
      <li>ChIPSeq</li>
      <li>DNase</li>
      <li>eQTLs</li>
      <li>GWAS</li>
      <li>SNPs</li>
    </ul>


    <h1 id="faq">FAQ</h1>
    <ul>
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
    </ul>

    <h1 id="updatelog">Update log</h1>
    <ul>
      <li>2015-03-26 (v0.1)</li>
    </ul>

    <h1 id="links">Links</h1>
    <ul>
      <li>Link1</li>
      <li>Link2</li>
      <li>Link3</li>
    </ul>

    <h1 id="contact">Contact</h1>
    <p>Contact information</p>

    <h1 id="howtocite">How to cite</h1>
    <p>Citation information</p>
{% endblock %}

