{#################################################
 #
 #    Twig template for SNPsea's 'index.php'
 #
 #    Author:  ern6xv (Kevin.Ernst@cchmc.org)
 #
 #################################################}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}
{% import 'assets.twig' as assets %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
{# Input form-specific CSS and JavaScript (Formalize, sampledata.js, etc.) #}
{{ assets.inputform_css() }}
{{ assets.jqueryui_css() }}
  <link rel="stylesheet" type="text/css" href="css/cressint.css">
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}

{% block main %}
    <noscript>
      <div class="callout callout-danger">
        <h4>We really need JavaScript enabled for this page to work</h4>
        <p>I'm really sorry, but this version of {{ propername }} won't work
        without JavaScript enabled in your browser.</p>
        <p style="font-size:xx-small">Perhaps you could whitelist this site?
        Our JavaScript won't steal your cookies, overcook your noodles, or
        shave your dog, promise.</p>
      </div>
    </noscript>
    <!--[if lte IE 9]>
    <div class="callout callout-danger">
      <h4>Blast. This browser is too old to work with {{ propername }}.</h4>
      <p>I'm really sorry, but the interactive elements on this page won't
      work without a modern browser (<em>e.g.</em>,
      <a href="https://getfirefox.com">Firefox</a>,
      <a href="https://chrome.google.com">Chrome</a>, or Internet Explorer 10
      or greater). Learn more <a title="Using an outdated browser makes your computer unsafe. Browse Happy is a way for you to find out what are the latest versions of the major browsers around. You can also learn about alternative browsers that may fit you even better than the one you are currently using. (Kindly hosted by WordPress.com)"
      href="http://browsehappy.com/">here</a>.</p>
    </div> 
    <![endif]-->

{# The input form shown as the default index when you go to /snpsea #}
{% include 'inputform.html.twig' %}
{% endblock %}

{% block footerjs %}
{{ assets.jqueryui_js() }}
{{ assets.inputform_js() }}
  <!-- IE-specific fixes (add HTMLSelectElement.selectedOptions) -->
  <script type="text/javascript" src="js/ieshims.js"></script>
  <!-- Ajax form submission library -->
  <script type="text/javascript" src="js/formsubmit.js"></script>
  <!-- Autocomplete for gene names -->
  <script type="text/javascript" src="js/autogene.js"></script>
  <!-- Auto-pilot for loading case studies #1/2/3 from the paper -->
  <script type="text/javascript" src="js/casestudies.js"></script>
  <!-- Cookie manipulation library (used for the first-launch help) -->
  <script type="text/javascript" src="/assets/vendor/js-cookie/js.cookie.js"></script>
  <!-- Input form user interaction -->
  <script type="text/javascript" src="js/cressint.js"></script>
{% endblock %}
