    <!-- sidebar -->
    <ul>
      <li class="nav">
        <p><strong>
          <a href="/{{ toolname }}" title="Create a new job">{{ propername }}
            Home</a></strong></p>
{% if devserver -%}
        <ul>
          <li class="nav">
            {#- FIXME: Update the Apache mod_rewrite rules to make a pretty URL
                out of this -#}
            <a href="/{{ toolname }}/display.php?jid=last">Last results</a>
          </li>

          <li class="nav">
            <a href="/{{ toolname }}/results">All results</a>
          </li>
        </ul> <!-- options under the tool name -->
{%- endif %}
      </li> <!-- the tool section -->

      <li class="nav">
        <a href="/{{ toolname }}/datasources.php">Available datasets</a>
      </li>

      <li class="nav">
        <a title="Frequently Asked Questions"
          href="/{{ toolname }}/faq.php">Help and FAQs</a>
      </li>

      <li class="nav">
        <a href="/{{ toolname }}/updatelog.php">Update log</a>
      </li>

      <li class="nav">
        <a href="/{{ toolname }}/exttools.php">Arabidopsis Tools and Portals</a>
      </li>
      <li class="nav">
      {#- Frances, feel free to switch this back on if you get the 
          contact form all wired up and tested. You'll obviously still be able
          to get their by the direct URL, so you'll be able to test before
          changing the link here.
          <a href="/{{ toolname }}/contactus.php">Contact Us</a> -#}
          <a href="/{{ toolname }}/faq.php#contact">Contact Us</a>
      </li>

      <li class="nav">
        <a href="/{{ toolname }}/cite.php">How to cite</a>
      </li>

    </ul> <!-- sidebar links -->

