{#################################################
 #
 #    
 #    Twig template for Cressint update.html.twig
 #
 #    Authors:    K. Ernst, F. Soman
 #
 #################################################}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
{# Input form-specific CSS and JavaScript (Formalize, sampledata.js, etc.) #}
  <link rel="stylesheet" type="text/css" href="css/cressint.css">    
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}


{% block main %}
<div class="info-list">
  <h1>CressInt Update Log</h1>
  <dl>
{# TODO: Fix this in CSS, don't just slap on an H2 #}
    <dt><h2>Build 1.0<h2></dt>
    <dd>
      Version 1.0 of <em>Aradopsis thaliana</em> CressInt Transcription Factor
      Tool with associated publication.
    </dd>
  </dl>
</div> <!-- /.info-list -->

{% endblock %}
